C#_Example/MyApplication2/bin/
C#_Example/MyApplication2/obj/
C#_Example/R_NET_Example/bin/
C#_Example/R_NET_Example/obj/
C#_Example/R_NET_Example/R_NET_Example.sln
C#_Example/R_NET_Example/.vs/
C#_Example/R_NET_Example/packages/
